@model BloggerViewController.Website.Models.BlogListViewModel

@{
    ViewBag.Title = string.Empty;
    if(Model.PageIndex > 1) {
        ViewBag.Title = ViewBag.Title + "Page " + ViewBag.PageIndex;
    }
}

<h2>Index</h2>

<p>Demo-template for the BloggerViewController-project.</p>

@foreach(var entry in Model.Selection.Posts) {
    <div>
        <h2>@entry.Title</h2>
        <span>@entry.Updated</span>
        <div>@Html.Raw(entry.Content)</div>
        <div>
            @foreach (var tag in entry.Categories) {
                <span><a href="#@tag">@tag</a></span>
            }
        </div>
    </div>
}

@*@section Navigation {
    @if(Model.HasPreviousItems) {
        <a href="#previousPage">Previous Page</a>    
    }

    @if(Model.HasNextItems) {
        <a href="#nextPage">Next Page</a>    
    }
}*@