@model BloggerViewController.Website.Models.BlogListViewModel

@{
    ViewBag.Title = string.Empty;
    if(Model.PageIndex > 1) {
        ViewBag.Title = ViewBag.Title + "Page " + ViewBag.PageIndex;
    }
    string currentAction = Convert.ToString(this.ViewContext.Controller.ValueProvider.GetValue("action").RawValue);
}

<h2>Index</h2>

<p>Demo-template for the BloggerViewController-project.</p>

@foreach(var entry in Model.Selection.Posts) {
    <text>
        @Html.Partial("BlogPost", entry)
    </text>
}

@section Navigation {
    @if(Model.Selection.HasPreviousItems) {
        @Html.ActionLink("Previous Page", currentAction, new { page = Model.PageIndex - 1 }, null)
    }

    @if(Model.Selection.HasNextItems) {
        @Html.ActionLink("Next Page", currentAction, new { page = Model.PageIndex + 1 }, null) 
    }
}