<?xml version="1.0"?>

<appSettings>
  <!-- Application Settings -->
  <add key="BloggerViewController.BloggerSettingsPath" value="~/BloggerSettings.json" />
  <add key="BloggerViewController.CacheTime" value="5" />
  <add key="BloggerViewController.PageSize" value="5" />
  <add key="BloggerViewController.UseBackgroundService" value="false" />
</appSettings>