<?xml version="1.0"?>

<appSettings>
  <!-- Blogger-service Credentials -->
  <add key="BloggerViewController.BlogId" value="" />
  <add key="BloggerViewController.BlogStore" value="Memory" /> <!-- Supports: "Memory", "Disk" -->
  <add key="BloggerViewController.PageSize" value="10" />
  <add key="BloggerViewController.Password" value="" />
  <add key="BloggerViewController.Username" value="" />
  <add key="BloggerViewController.UseBackgroundService" value="false" />
  
  <!-- Application Settings -->
</appSettings>