<?xml version="1.0" encoding="utf-8"?>
<!-- Copy content to "app.config" -->
<configuration>
  <appSettings>
    <!-- Set values for integration-test -->
    <add key="Blaven.BlogSources.Blogger.ApiKey" value="" />
    <add key="Blaven.BlogSources.Blogger.ExpectedPostsCount" value="10" />
    <add key="Blaven.Blogs.TestBlog.Id" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>